body {
    font-family: Arial;
    margin: 40px;
    background-color: #f4f6f8;
}

input, button {
    padding: 10px;
    margin: 5px;
}

button {
    background-color: #2ecc71;
    color: white;
    border: none;
    cursor: pointer;
}

table {
    margin-top: 20px;
    width: 100%;
}